<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block headerTitle %}Welcome on the Forum!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        
        {% stylesheets 
            'bundles/app/css/style.css' 
        %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />

        {% endstylesheets %}
    {% endblock %}
    </head>

    <body>

        <div class="ibox-footer mb-1 p-0">
            <h6>-</h6>
        </div>

        <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content animated fadeInRight">

                    {% block flashbag %}
                    {% endblock %}

                    <div class="ibox-content m-b-sm border-bottom">
                        <div class="p-xs">
                            {% block title %}
                            <div class="pull-left m-r-md mr-5">
                                <a href="{{ path('app_home') }}"><i class="fa fa-globe text-navy mid-icon"></i></a>
                            </div>
                            <h2> Bienvenue sur notre forum ! </h2>
                            <span> Choisissez le topic de votre choix.</span>
                            {% endblock %}
                        </div>
                    </div>

                    
                    {% block subtitle %}
                    {% endblock %}
                    
                    {% block breadcrum %}
                    {% endblock %}

                    {% block paginator %}
                    <div class="ibox-content mb-1 mt-1 p-0">
                        {% include "AppBundle:Forum:paginator.html.twig" %}
                    </div>
                    {% endblock %}

                    {% block tabs %}
                    {% endblock %}

                    {% block content %}
                    {% endblock %}

                    {% block paginatorBot %}
                    <div class="ibox-content mb-1 mt-1 p-0">
                        {% include "AppBundle:Forum:paginator.html.twig" %}
                    </div>
                    {% endblock %}
                </div>
            </div>
        </div>
        </div>

        <div class="ibox-footer mt-3">
            <h6 class="text-center m-0">2017/2018 - Projet Forum licence pro - Jérémy Leprince</h6>
        </div>

        {% block javascripts %}

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

        {% endblock %}



</body>

</html>