{% extends "@FOSUser/layout.html.twig" %}

{% block title %}
	<div class="pull-left m-r-md mr-5">
    	<a href="{{ path('app_home') }}"><i class="fa fa-key text-navy mid-icon"></i></a>
	</div>
	<h2> Mot de passe </h2>
	<small class="forum-desc">Vous remplir les champs afin de changer votre mot de passe.</small>
{% endblock %}


{% block fos_user_content %}
{% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
{% endblock fos_user_content %}
