{% extends "@FOSUser/layout.html.twig" %}

{% block title %}
	<div class="pull-left m-r-md mr-5">
    	<a href="{{ path('app_home') }}"><i class="fa fa-user text-navy mid-icon"></i></a>
	</div>
	<h2> Inscription </h2>
	<small class="forum-desc">Inscrivez-vous pour poster des message sur ce forum ! </small>
{% endblock %}

{% block fos_user_content %}
{% include "@FOSUser/Registration/register_content.html.twig" %}
{% endblock fos_user_content %}
